body,
button,
input,
textarea {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
}

body {
  line-height: 2;
}

.notification table,
.notification td,
.push table,
.push td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.notification td,
.push td {
  padding: 0.5em;
}

.notification .create .title,
.notification .create .body {
  width: 24em;
}
