.font-family-sans-serif {
  font-family: sans-serif;
}

.font-family-serif {
  font-family: serif;
}

.font-family-biz-udmincho {
  font-family: "BIZ UDMincho", serif;
}

.font-family-biz-udpmincho {
  font-family: "BIZ UDPMincho", serif;
}

.font-family-noto-serif-jp {
  font-family: "Noto Serif JP", serif;
}

.font-family-sawarabi-mincho {
  font-family: "Sawarabi Mincho", serif;
}

.font-family-shippori-mincho {
  font-family: "Shippori Mincho", serif;
}

.font-family-shippori-mincho-b1 {
  font-family: "Shippori Mincho B1", serif;
}

.font-family-zen-old-mincho {
  font-family: "Zen Old Mincho", serif;
}

.font-weight-bold {
  font-weight: bold;
}

.text-align-justify {
  text-align: justify;
}

body {
  line-height: 2;
}

.main {
  margin: 0 auto;
}

.width-24em {
  width: 24em;
}
